# Blockchain Configuration
RPC_URL=

# Contract Configuration
VOTEREPO_CONTRACT_ADDRESS=
VOTEINBOX_CONTRACT_ADDRESS=
# API Configuration
OPERATOR_API_URL=
# This should be the base URL where vote data can be fetched
# The server will append "/votes/{hash}" to this URL

# Server Configuration
POLL_INTERVAL_SECONDS=1000

PRIVATE_KEY=
